/* ---------- Color Module Styles ----------- */

/* body {
    color: white;
    background: #212f3d;
} */

.text-white{
    color:white!important;
}

/* #page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #fff;
} */

.tabs ul.primary li a.is-active {
    background-color: #fff;
}

.tabs ul.primary li.is-active a {
    background-color: #fff;
    border-bottom-color: #fff;
}

#navbar-top {
    background-color: #055a8e;
}

#navbar-main {
    background-color: #1d84c3;
}

a,
.link {
    color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
    color: #018fe2;
}

a:active,
.link:active {
    color: #23aeff;
}

.page-item.active .page-link {
    background-color: #0071b3;
    border-color: #0071b3;
}

.page-link,
.page-link:hover {
    color: #0071b3;
}

.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0256b1;
}

.site-footer {
    background: #292929;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #fffeff;
}

/* Backgrounds */
/*--------- backgrounds */
#block-betalenstart,
.gradienta{
    background: #1f4037!important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f4037, #99f2c8)!important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f4037, #99f2c8)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.gradientb{
    background: #1f4037!important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f4037, #99f2c8)!important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f4037, #99f2c8)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-top: solid white 2px;
}

.palette-a{
    background-color: #FEED00;
    color: #212f3d;
}
.palette-b{
    background-color: #fafafa;
    color:black;
}
.palette-c{
    background-color: #E52321;
    color:white;
}
.palette-d{
    background-color: #212f3d;
    color:white;
}

/* Texts */
.textcolor-a{
    color: #FEED00;
}
.textcolor-b{
    color: #41AAEC;
}
.textcolor-c{
    color: #E52321;
}
.textcolor-d{
    color: #212f3d;
}
.textcolor-white{
    color: white;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}

/* ---------- Color palette ---------- */
.green{
    background-color: #77be32!important;
}
.green-gradient{
    background-image: linear-gradient(to right top, #cee33d, #bedc3a, #add637, #9dcf35, #8dc833, #86c533, #7ec132, #77be32, #77be32, #77be32, #77be32, #77be32);
}
.grey{
    background-color: #121214!important;
    color: white!important;
}
.grey a,
.grey .link{
    color: white;
}
.dark-grey{
    background-color: #0c0c0c!important;
    color: white!important;
}
.brown{
    background-color: #42493a!important;
    color: white!important;
}
.brown a,
.brown .link{
    color: white;
}
.light-blue{
    background-color: #00c9fb!important;
}
.blue{
    background-color: #0092c2!important;
}