{% extends  "page.html.twig" %}
 
{# Replace content_fields #}
{% block main_wrapper %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix background overlay">
{% endblock %}

{% block content %}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section d-flex height-100 justify-content-center">
                  <a id="main-content" tabindex="-1"></a>
                    <div class="row h-100 align-self-center">
                      <div class="">
                        {{ page.content }}
                      </div>
                    </div>
                </section>
              </main>
          </div>
        </div>
{% endblock %}